body{
    background-color: var(--bg);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal; 
    color: var(--txt-2);
    margin:0;
}

/* Scrollbar personalizada */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: center;
    
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: var(--txt-1);
    border-radius: 10px;
    border: 3px solid var(--bg);
}

/* Particulas de fondo */
#particles-js {
    position: fixed;
    background-size: cover;
    width: 100%;
    background-color: transparent;
    z-index: -1;
}

#aboutme div, .card {
    background-color: var(--bg-cards);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden;
}

/* Iconos */

.fa-solid {
    font-size: 2rem;
}

.fa-brands, .fa-envelope {
    font-size: 2.5rem;
}

.fa-arrow-right, .fa-arrow-left {
    color: var(--txt-1);
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

/* Textos */
h1, h2, h5 {
    color: var(--txt-1) !important;
    font-weight: bold;
}

p{
    color: var(--txt-2);
    font-weight: 500;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--txt-1);
}

/* Botones redes*/
.social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a:hover {
    background-color: var(--txt-1);
    color: var(--bg);
    border-radius: 50px;
    box-shadow: 4px 4px 8px #00000033
}

/* Efecto tipeo */
.typewrite {
    overflow: hidden;
    border-right: 0.2em solid var(--txt-1);
    color: var(--txt-2);
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    font-style: italic;
    animation: 
      blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--txt-1);}
}

/* Pantallas medianas y chicas */
@media (max-width: 1023px) {
    #aboutme {
        flex-direction: column !important;
    }
    .social {
        flex-direction: row !important;
    }
}

/* Variables */
:root {
    --bg: #0D0D0D;
    --bg-cards: #161515;
    --txt-1: #BCA2F2;
    --txt-2: #dad1ee;
}